<section class="about space pb-0">
  <div class="container">
    <div class="row align-items-center g-0">
      <div class="col-sm-12 col-md-7">
        <div class="img-wrap">
          <img class="img-fluid" src="assets/img/2.png" alt="Image2">
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="card">
          <div class="card-body p-0">
            <span>About Us</span>
            <div class="heading mb-4">
              <h3 class="title">Welcome to Healthcare Hospital. We have..</h3>
            </div>
            <ul class="list-unstyled icon-list">
              <li>Certified Doctors</li>
              <li>Modern Technology</li>
              <li>Infrastructure</li>
              <li>Founder's Message</li>
              <li>Emergency 24 Hours</li>
              <li>Mission,Vision & Value</li>
              <li>Ambulance Service</li>
              <li>Fact Sheet</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
