<nav class="navbar navbar-expand-sm py-3">
  <div class="container">
    <a class="navbar-brand"  routerLink="home">
      <img class="img-fluid" src="assets/img/logo/logo.png" alt="Health Care">
    </a>
    <button class="navbar-toggler border-primary py-2 px-4" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <small>Menu</small>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto m-0 me-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="doctor" routerLinkActive="active">Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
      <div class="action ms-5">
        <a href="#!" class="btn btn-sm btn-outline-light me-3">Sign In</a>
        <a href="#!" class="btn btn-sm btn-theme">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
