<section class="testimonial space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading mb-4">
          <h3 class="title text-capitalize">What our valuable patient are saying about us</h3>
        </div>
      </div>
      <div class="col-sm-12 col-md-10 offset-md-1">
        <div class="card">
          <div class="card-body  my-3 testimonial-card text-center">
            <div class="align-self-center my-5">
              <div class="icon">
                <img class="img-fluid" src="assets/img/left-quote.png" alt="Quote">
              </div>
              <h4 class="card-title">COVID 19 Treatment</h4>
              <p class="card-text comments my-4">
                I got admitted here for covid19 treatment & got recover in 6 days with
                an super care taken by all the hospital staff, doctors, nurse house keeping.
                all the staff was very patience throughout my treatment.
              </p>
              <div class="text-center">
                <p class="card-text mb-0">Stephen Patterson</p>
                <small>TechCrunch</small>
              </div>
            </div>
          </div>
          <img class="img-fluid testimonial-img img-top-left" src="assets/img/testimonials/1.png" alt="Testimonial">
          <img class="img-fluid testimonial-img img-top-right" src="assets/img/testimonials/2.png" alt="Testimonial">
          <img class="img-fluid testimonial-img img-left" src="assets/img/testimonials/3.png" alt="Testimonial">
          <img class="img-fluid testimonial-img img-right" src="assets/img/testimonials/4.png" alt="Testimonial">
          <img class="img-fluid testimonial-img img-bottom-left" src="assets/img/testimonials/5.png" alt="Testimonial">
          <img class="img-fluid testimonial-img img-bottom-right" src="assets/img/testimonials/6.png" alt="Testimonial">
        </div>
      </div>
    </div>
  </div>
</section>
