<section class="homepage py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-5">
        <div class="card">
          <div class="card-body px-0">
            <h1 class="card-title">
              We have Fantastic Doctors & Dentist
            </h1>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="card-footer px-0 bg-transparent">
            <button type="button" class="btn btn-theme">Get Appointment</button>
            <span class="position-relative ms-3">
                  <img class="play-icon" src="assets/img/1.svg" alt="play">
                 <button type="button" class="btn btn-link text-decoration-underline fw-bold">Watch the Video</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="img-wrap">
          <img class="img-fluid" src="assets/img/1.png" alt="Image1">
        </div>
      </div>
    </div>
  </div>
</section>
<app-infobox></app-infobox>
<app-about></app-about>
<app-expertise></app-expertise>
<app-testimonial></app-testimonial>
