@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "src/assets/scss/mixvars/variables";
@import "src/assets/scss/mixvars/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Styling

html, body {
  margin: 0;
  scroll-behavior: smooth;
  font-weight: $font-weight-semi-bold;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: $heading-color;
  font-weight: $font-weight-bolder;
}
.wrapper {
  overflow: hidden;
}

// Some custom design to fit layout

// Buttons
.btn-outline-light {
  color: #173A56;
  border: $border-width solid #BCD0E5;
}

// Space
.space {
  padding: 100px 0;
}

// Heading
.heading {
  .title {
    font-size: 36px;
    line-height: 55px;
    @include media-breakpoint-down(md) {
      font-size: 25px;
      line-height: 1.5;
    }
  }
}
.sub-heading {
  .title {
    font-size: 22px;
  }
}

// Info Card
.info-card {
  text-align: center;
  .icon {
    img {
      width: 50%;
    }
  }
  .card-title {
    font-weight: $font-weight-bold;
    margin-bottom: $spacer;
  }
  .card-text {
    font-weight: $font-weight-semi-bold;
  }
}

// Responsive
