<section class="expertise pt-5 space">
  <div class="container">
    <div class="row align-items-center g-0">
      <div class="col-sm-12 col-md-5">
        <div class="card">
          <span>Speciality</span>
          <div class="heading mb-4">
            <h3 class="title">Our Expertise</h3>
          </div>
          <div class="card-body mb-4 p-0">
            <p class="card-text fw-bolder">Child Care</p>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore
            </p>
          </div>
          <div class="card-body mb-4 p-0">
            <p class="card-text fw-bolder">More Stuff</p>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore
            </p>
          </div>
          <div class="card-body mb-4 p-0">
            <p class="card-text fw-bolder">Enough Lab</p>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore
            </p>
          </div>
          <div class="card-body mb-4 p-0">
            <p class="card-text fw-bolder">24 Hour Doctor</p>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="img-wrap">
          <img class="img-fluid" src="assets/img/3.png" alt="Image3">
        </div>
      </div>
    </div>
  </div>
</section>
