<section class="services pt-0 space">
  <div class="container">
    <div class="row g-0">
      <div class="col-sm-12">
        <div class="heading text-center mb-5">
          <h3 class="title text-capitalize">Our Hospital Services</h3>
        </div>
      </div>
      <div class="col-sm-3 mb-4">
        <div class="card info-card h-100">
          <div class="card-body px-2">
            <div class="icon">
              <img src="assets/img/diagnosis.png" alt="Diagnosis">
            </div>
            <h4 class="card-title">Diagnosis</h4>
            <p class="card-text text-capitalize">
              The art or act of identifying a disease from
              its signs and symptoms.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-4">
        <div class="card info-card h-100">
          <div class="card-body px-2">
            <div class="icon">
              <img src="assets/img/cardiology.png" alt="Cardiology">
            </div>
            <h4 class="card-title">Cardiology</h4>
            <p class="card-text text-capitalize">
              The branch of medicine that deals with diseases and
              abnormalities of the heart.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-4">
        <div class="card info-card h-100">
          <div class="card-body px-2">
            <div class="icon">
              <img src="assets/img/neurology.png" alt="Cardiology">
            </div>
            <h4 class="card-title">Neurology</h4>
            <p class="card-text text-capitalize">
              Neurology is a branch of medicine dealing with
              disorders of the nervous system.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-4">
        <div class="card info-card h-100">
          <div class="card-body px-2">
            <div class="icon">
              <img src="assets/img/neurology.png" alt="Cardiology">
            </div>
            <h4 class="card-title">Pathology</h4>
            <p class="card-text text-capitalize">
              Pathology is the study of the causes and
              effects of disease or injury.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="text-center">
          <button type="button" class="btn btn-theme px-5">View All</button>
        </div>
      </div>
    </div>
  </div>
</section>
