<footer class="footer pt-5 mt-5">
  <div class="container border-top border-primary space">
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="mb-4">
          <img class="img-fluid" src="assets/img/logo/logo.png" alt="Health Website">
        </div>
        <p class="my-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <div class="mb-4">
          <img class="img-fluid" src="assets/img/social.png" alt="Social">
        </div>
      </div>

      <div class="col-sm-12 col-md-2 mb-4">
        <div class="sub-heading mb-4">
          <h4 class="title">Quick Links</h4>
        </div>
        <ul class="list-unstyled icon-list">
          <li><a href="#!" class="text-black">About Us</a></li>
          <li><a href="#!" class="text-black">Blog</a></li>
          <li><a href="#!" class="text-black">Contact Us</a></li>
          <li><a href="#!" class="text-black">Faq</a></li>
          <li><a href="#!" class="text-black">Insurance</a></li>
          <li><a href="#!" class="text-black">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3 mb-4">
        <div class="sub-heading mb-4">
          <h4 class="title">Our Services</h4>
        </div>
        <ul class="list-unstyled icon-list">
          <li><a href="#!" class="text-black">Diagnosis</a></li>
          <li><a href="#!" class="text-black">Cardiology</a></li>
          <li><a href="#!" class="text-black">Neurology</a></li>
          <li><a href="#!" class="text-black">Pathology</a></li>
          <li><a href="#!" class="text-black">Physiotherapy</a></li>
          <li><a href="#!" class="text-black">Chiropractic Therapy</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3 mb-4">
        <div class="sub-heading mb-4">
          <h4 class="title">Enquiry Form</h4>
        </div>
        <form>
          <div class="form-floating">
            <input type="text" class="form-control" id="name" placeholder="Name">
            <label for="name">Name</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="phone" placeholder="Phone">
            <label for="phone">Phone</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Message" id="message"></textarea>
            <label for="message">Message</label>
          </div>
          <div class="mt-4">
            <button type="button" class="btn px-5 btn-theme btn-sm">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="copyright bg-theme text-white text-center p-3">
    <p class="m-0">Copyright © HealthCare. All Rights Reserved.</p>
  </div>
</footer>
